* {
  padding: 0;
  margin: 0;
}

html {
  background-image: url("../img/01.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.timer {
  max-width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 40px;
}
.timer .timer__background {
  background: #FFFFFF;
  box-shadow: 4px 8px 40px rgba(8, 24, 111, 0.2);
  border-radius: 30px;
}
.timer .timer__title {
  text-align: center;
  color: rgb(35, 35, 214);
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
}
.timer .timer__body {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  color: rgb(35, 35, 214);
  font-size: 30px;
  font-weight: bold;
}